@import "webfonts.css";

/* General properties */

$primary:#55235b;
$bodytext:black;

$bg:#b4c0e5;
$accent:white;

$mainfont: 'Work Sans', sans-serif;
//$mainfont: 'Karla', sans-serif;
$iawriter: 'IA_Quattro', sans-serif;

body{
  background-color: $bg;
  font-family: $mainfont;
}

a{
  color: $bodytext;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

a:hover{
  color: #3700ff;
  text-decoration: none;
}

.body-text{
  color: $bodytext;
}


.monospace{
  font-family:  Inconsolata, monospace;
}


p{
  font-family: $iawriter;
  font-size: 1.3rem;
}

.primary-text{
  color: $primary;
}

.accent-text{
  color: $accent;
}

.main{
  padding: 8% 10vw 5vh 10vw;
}

/* NAVBAR */


.navbar-nav{
  margin-left: 35px;
  background-color: #f8f9fb;
}


.emoji{
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: cover;
    color: transparent;
    text-align: center;
    overflow: hidden;
}
.nav-link{
  display: inline-block;
  font-size: 1rem;
  line-height: normal;
}

.nav-item{
  margin-right:50px;
  font-family: $mainfont;
  padding-bottom:0;
}

/* Titolo */

.constellation{
  height:60px;
  margin-bottom:15px;
}


#greeting{
  font-size:7vh;
  padding-top:10vh;
  //font-weight:530;
}


/* Descrizione */

.description{
  font-size: 2.5vh;
}
.smalltext{
  font-size:0.8em;
  vertical-align: sub;
  white-space: nowrap;
}

.reading{
  padding:0;
  margin:0;
}

// .reading:hover{
//   text-decoration-line: underline;
//   text-decoration-color: white;
//
// }

.button{
  font-family: $iawriter;
}

.button:hover, .button:focus{
  background-color: white;
  border-color: white;
}

.contact{
  padding: 0 2px;
  font-size:14px;
}

/* Footer */


.footer-copyright{
  font-size:0.8rem;
  position:absolute;
  bottom:0;
  text-align:right;
  padding-right:25px;
  margin-top:20px;
  left:70%;
  width: 30%;
  padding-bottom: 3vh;
  color:white;
  font-family:  Consolas, "Liberation Mono", "Courier New", monospace;

}

// Animations

.cursor {
  -webkit-animation: 0.8s blinker step-end infinite;
  -moz-animation: 0.8s blinker step-end infinite;
  -ms-animation: 0.8s blinker step-end infinite;
  -o-animation: 0.8s blinker step-end infinite;
  animation: 0.8s blinker step-end infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*  Media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .description{
  font-size:19px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

@media (max-width: 768px) {
  .contact{
    margin-bottom:15px;
    margin-top:10px;
  }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}
