
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,531;1,400;1,531&display=swap');

@font-face {
  font-family: 'IA_Quattro';
  src: url('fonts/iAWriter/iAWriterQuattroS-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/iAWriter/iAWriterQuattroS-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/iAWriter/iAWriterQuattroS-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/iAWriter/iAWriterQuattroS-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'IA_Quattro';
  src: url('fonts/iAWriter/iAWriterQuattroS-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/iAWriter/iAWriterQuattroS-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/iAWriter/iAWriterQuattroS-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/iAWriter/iAWriterQuattroS-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: bold;
}

@font-face {
  font-family: 'IA_Quattro';
  src: url('fonts/iAWriter/iAWriterQuattroS-Italic.eot'); /* IE9 Compat Modes */
  src: url('fonts/iAWriter/iAWriterQuattroS-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/iAWriter/iAWriterQuattroS-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/iAWriter/iAWriterQuattroS-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-style: italic;
}
